---
layout: page
permalink: "/"
---

<h2>Quick start</h2>
{% highlight "bash" %}
git clone git@github.com:AndiKod/11ty5.git my-project
cd my-project
yarn install
yarn dev
{% endhighlight %}

<p class="font-semibold">Packages</p>
<ul>
  <li><a href="https://www.11ty.dev/docs/" target="_blank" rel="noreferrer">|Eleventy</a> 0.12.1</li>
  <li><a href="https://tailwindcss.com/docs" target="_blank" rel="noreferrer">|Tailwind</a> 2.1.1</li>
  <li>Axios 0.21.1</li>
  <li>Rollup 2.38.4</li>
</ul>