---
layout: page
permalink: "/"
---

<h2>Quick start</h2>
{% highlight "bash" %}
git clone git@github.com:AndiKod/11ty5.git my-project
cd my-project
yarn 
yarn dev
{% endhighlight %}

<p class="font-semibold">Packages</p>
<ul>
  <li>Eleventy</li>
  <li>Tailwind</li>
  <li>Axios</li>
  <li>Rollup</li>
  <li>& more</li>
  <li><em>All packages upgraded to latest on Jan 08 2022</em></li>
</ul>

<p class="display"></p>
