---
title: Page
layout: page
permalink: "page/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
eleventyNavigation:
  key: Page
  order: 2
---

{% if title %}<h2>{{title}}</h2>{% endif %}

<p>Oh, don't mind me, I'm just a page.</p>
<p>Test out your styles on the <a href="{{'/sandbox/' | url}}" class="font-semibold">|sandbox</a> page....</p>



