---
title: Sandbox
layout: page
permalink: '/{{title | slug}}/'
---


<div class="content">


{% if title %}<h2>{{title}}</h2>{% endif %}

<p>Baseball ipsum paragraph. Sidearm bullpen base on balls national pastime losses reliever umpire pull dribbler. Manager 4-bagger tag national pastime pennant good eye relief pitcher. </p>

<h1>This is a h1 title</h1>
<h2>This is a h2 title</h2>
<h3>This is a h3 title</h3>

<ul class="list-disc list-inside text-lg">
  <li>First Base</li>
  <li>Second Base</li>
  <li>Third Base</li>
  <li>Homeplate</li>
</ul>

<p class="mt-4 italic">...you get the point, te rest will come later ;)</p>



</div>