---
title: Sandbox
layout: page
permalink: '/{{title | slug}}/'
---


<div class="content">


{% if title %}<h2>{{title}}</h2>{% endif %}

<p>Don't mind. I'm just an empty page. Make you own ones and have fun.</p>

<hr>

<h1>This is a h1 title</h1>
<h2>This is a h2 title</h2>
<h3>This is a h3 title</h3>
<h4>This is a h4 title</h4>
<h5>This is a h5 title</h5>
<h6>This is a h6 title</h6>

<hr>

<p>Baseball ipsum. Sidearm bullpen base on balls national pastime losses reliever umpire pull dribbler. Manager 4-bagger tag national pastime pennant good eye relief pitcher. </p>

<p>Baseball ipsum. Sidearm bullpen. </p>

<ul>
  <li>First Base</li>
  <li>Second Base</li>
  <li>Third Base</li>
  <li>Homeplate</li>
</ul>

<hr>

{% for movie in collections.movies -%}

<h3>{{ movie.title }}</h3>

{% endfor -%}

</div>