
  {% for item in items %}
    {% if not item.data.draft %}
      <section class="mb-8 border-dotted border-b pb-8 border-gray-600">

          <h2 class="item"><a href="{{ item.url | url }}">{{ item.data.title }}</a></h2>
          <p class="excerpt">{{ item.data.excerpt }}</p>

        <footer>
        <span>Tagged: </span>
        {% for tag in item.data.tags %}
          {%- if tag !== "item" -%}
           <a class="tag" href="{{ site.baseUrl }}tag/{{ tag }}">{{ tag }}</a>
          {%- endif -%}
        {% endfor %}

        <span class="block md:inline md:float-right md:pt-4 pt-2 created-date" datetime="{{ post.data.date }}">
          {{ item.data.date | dateDisplay }}
        </span>
        </footer>
      </section>
    {% endif %}
  {% endfor %}
